<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="BUGSNAG" class="com.bugsnag.BugsnagAppender">
		<apiKey>your-api-key-here</apiKey>
        <releaseStage>staging</releaseStage>
        <appVersion>1.0.1</appVersion>

        <!--<appType>gradleTask</appType>-->

		<!--<endpoint>https://notify.example.com</notifyEndpoint></endpoint>-->

        <!--<redactedKey>password</redactedKey>-->
        <!--<redactedKey>credit_card_number</redactedKey>-->

        <!--<discardClass>java.io.IOException</discardClass>-->
        <!--<discardClass>com.example.Custom</discardClass>-->

        <!--<enabledReleaseStage>production</enabledReleaseStage>-->
        <!--<enabledReleaseStage>development</enabledReleaseStage>-->

        <!--<projectPackage>com.company.package1</projectPackage>-->
        <!--<projectPackage>com.company.package2</projectPackage>-->

		<!--<metadata>-->
			<!--<tab>-->
				<!--<name>customMetadata</name>-->
				<!--<key>-->
					<!--<name>somedata</name>-->
					<!--<value>value</value>-->
				<!--</key>-->
			<!--</tab>-->
		<!--</metadata>-->

        <!--<proxy>-->
            <!--<type>HTTP</type>-->
            <!--<hostname>example.com</hostname>-->
            <!--<port>80</port>-->
        <!--</proxy>-->

        <!--<sendThreads>true</sendThreads>-->
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="BUGSNAG"/>
	</root>
</configuration>
