<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="BUGSNAG" class="com.bugsnag.BugsnagAppender">
		<apiKey>your-api-key-here</apiKey>
        <releaseStage>staging</releaseStage>
        <appVersion>1.0.1</appVersion>

        <!--<appType>gradleTask</appType>-->
        <!--<autoCaptureSessions>false</autoCaptureSessions>-->

		<!--<endpoints>-->
			<!--<notifyEndpoint>https://notify.example.com</notifyEndpoint>-->
			<!--<sessionEndpoint>https://sessions.example.com</sessionEndpoint>-->
		<!--</endpoints>-->

        <!--<filteredProperty>password</filteredProperty>-->
        <!--<filteredProperty>credit_card_number</filteredProperty>-->

        <!--<ignoredClass>java.io.IOException</ignoredClass>-->
        <!--<ignoredClass>com.example.Custom</ignoredClass>-->

        <!--<notifyReleaseStage>production</notifyReleaseStage>-->
        <!--<notifyReleaseStage>development</notifyReleaseStage>-->

        <!--<projectPackage>com.company.package1</projectPackage>-->
        <!--<projectPackage>com.company.package2</projectPackage>-->

		<!--<metaData>-->
			<!--<tab>-->
				<!--<name>myTab</name>-->
				<!--<key>-->
					<!--<name>myKey</name>-->
					<!--<value>myValue</value>-->
				<!--</key>-->
			<!--</tab>-->
		<!--</metaData>-->

        <!--<proxy>-->
            <!--<type>HTTP</type>-->
            <!--<hostname>example.com</hostname>-->
            <!--<port>80</port>-->
        <!--</proxy>-->

        <!--<sendThreads>true</sendThreads>-->
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT"/>
		<appender-ref ref="BUGSNAG"/>
	</root>
</configuration>
